<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Matcher</title>
    <link rel="stylesheet" type="text/css" href="card.css">
</head>
<body>
    <div class="dropdown">
        <button id="dropdownButton" class="dropbtn">Menu</button>
        <div class="dropdown-content" id="dropdownContent">
            <!-- Add your dropdown menu items here -->
            <a href="home.html">Return to Category Page</a>
            <a href="movie.html"> Skip to Liked Movies</a>
            <a href="index.html">Logout</a>
        </div>
    <div id="instructions">
        Review each movie/TV show 
        <span id="swipeCounter">(0/25)</span>
    </div>
    <div class="movie-card">
        <div id="mediaCard">
            <img src="media-image.jpg" alt="Movie/TV Show Poster">
            <h2 id="title">Title</h2>
            <p id="releaseDate">Release Date: </p>
            <p id="genres">Genres: </p>
            <p id="overview">Overview: </p>
            <p id="contentType">Content Type: </p>
        </div>
        <div id="buttons">
            <button id="likeButton" class="action-button">Like</button>
            <button id="dislikeButton" class="action-button">Dislike</button>
        </div>
        
    </div>
    <script src="scripts/card.js"></script>
</body>
</html>
