body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#instructions {
    font-size: 18px;
    margin: 10px;
}

.movie-card {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    margin: 20px auto;
    position: relative;
    transition: transform 0.2s ease-in-out;
}

.movie-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.movie-card h2 {
    font-size: 24px;
    margin: 0;
}

.movie-card p {
    font-size: 16px;
}

#buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#likeButton {
    background-color: #4CAF50;
    color: white;
}

#neutralButton {
    background-color: #FFC107;
    color: white;
}

#dislikeButton {
    background-color: #F44336;
    color: white;
}

#swipeCounter {
    font-weight: bold;
    color: #333;
}
