<!DOCTYPE html>
<html>
<head>
    <title>Media Matcher</title>
<link rel="stylesheet" href="category.css">
</head>
<body>
    <h1 id="pageTitle">Media Matcher</h1>
    <div id="buttonsContainer">
        <button class="button" id="genreButton">Genre</button>
        <button class="button" id="decadeButton">Decade Released</button>
        <button class="button" id="contentTypeButton">Content Type</button>
    </div>
    <div id="subcategories" style="display: none;"></div>
    <button class="button" id="backButton" style="display: none;">Back</button>
  
    <script src="category.js"> </script>
</body>
</html>