<!DOCTYPE html>
<html>
<head>
    <title>Media Matcher</title>
<link rel="stylesheet" href="category.css">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="dropdown">
        <a class="dropdown-button">Menu</a>
        <ul class="dropdown-menu">
            <li><a href ="liked-medias.html">Liked Medias</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>
    <h1 id="pageTitle">Media Matcher</h1>

    <div id="buttonsContainer">
        <button class="button" id="genreButton">Genre</button>
        <button class="button" id="decadeButton">Decade Released</button>
        <button class="button" id="contentTypeButton">Content Type</button>
    </div>
    <div id="subcategories" style="display: none;"></div>
    <button class="button" id="backButton" style="display: none;">Back</button>
  
    <script src="category.js"> </script>
</body>
</html>